<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mono Monero - About</title>
    <link rel="stylesheet" href="/static/main.css" />
  </head>
  <body>
    <section class="center-section">
      <div style="text-align: center">
        <h1>About us</h1>
        <p>Some information about Mono Monero</p>
      </div>
    </section>
    <section class="center-section">
      <div style="text-align: center">
        <h2>What do we do?</h2>
        <p>
          Mono Monero is an online Monero bank where you can safely store your
          monero without the need for a physial wallet.
        </p>
      </div>
    </section>
    <section class="center-section">
      <div style="text-align: center">
        <h2>What are the fees?</h2>
        <p>There is a 5% withdrawal fee.</p>
      </div>
    </section>
    <section class="center-section">
      <div style="text-align: center">
        <h2>What type of 2-factor authentication do you have?</h2>
        <p>
          We use codes encrypted using your public PGP key as our method of
          2-factor authentication.
        </p>
      </div>
    </section>
  </body>
</html>
