<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mono Monero - Login</title>
    <link rel="stylesheet" href="/static/main.css" />
  </head>
  <body>
    <section class="center-section">
      <div style="text-align: center">
        <h1>Mono Monero</h1>
        <p>Login</p>
        <form method="post">
          <div>
            <label for="username">Username</label>
            <input required type="text" name="username" id="username" />
          </div>
          <div>
            <label for="password">Password</label>
            <input required type="password" name="password" id="password" />
          </div>
        </form>
        <a href="/register">Register</a>
      </div>
    </section>
  </body>
</html>
